<!DOCTYPE html>
<html>
  <head>
    <title>Moet ik een bak trekken?</title>
    <%- include('templates/head'); %>
  </head>
  <body>
    <%- include('templates/nav'); %>
    <br>
    <div class="container">
      <h2>Moet ik een baktrekken?</h2>
      <form name="bak_form">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="kopofmunt" id="kop" value="kop" checked>
          <label class="form-check-label" for="kop">
            Kop
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="kopofmunt" id="exampleRadios2" value="munt">
          <label class="form-check-label" for="munt">
            Munt
          </label>
        </div>
        <br>
        <button type="button" onclick="gooi()" class="btn btn-warning btn-lg">Gooi</button>
      </form>
      <h1 id="result"></h1>
    </div>
    <script type="text/javascript">
	function changeResultH1(message) {
		document.getElementById("result").innerHTML = message;
	}
      function gooi() {
        var form = document.forms["bak_form"];
        var kopofmunt = form["kopofmunt"].value;
        var random = Math.random();
        console.log(random);
        if (random < 0.5 && kopofmunt == "kop") {
          changeResultH1("Kop! Je hoeft geen bak te trekken.");
        } else if (random >= 0.5 && kopofmunt == "munt") {
          changeResultH1("Munt! Je hoeft geen bak te trekken.");
        } else {
          if (random < 0.5) {
            changeResultH1("Kop! Je moet een bak trekken!");
          } else {
            changeResultH1("Munt! Je moet een bak trekken!");
          }
        }
      }
    </script>
  </body>
</html>
