<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laura's zoenlijst</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <br>
    <div class="container">
      <h1>Zie hier: Laura's cijferlijst</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Vak</th>
            <th scope="col">Cijfer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nederlands</td>
            <td>4,2</td>
          </tr>
          <tr>
            <td>Engels</td>
            <td>1,6</td>
          </tr>
          <tr>
            <td>Duits</td>
            <td>3,2</td>
          </tr>
          <tr>
            <td>Huishoudkunde</td>
            <td>9,4</td>
          </tr>
          <tr>
            <td>Wiskunde A</td>
            <td>-8,3</td>
          </tr>
          <tr>
            <td>Economie</td>
            <td>3,6</td>
          </tr>
          <tr>
            <td>Geschiedenis</td>
            <td>5,4</td>
          </tr>
          <tr>
            <td>Koken</td>
            <td>9,6</td>
          </tr>
          <tr>
            <td>Filosofie</td>
            <td>2,7</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
