<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('templates/head'); %>
  </head>
  <body>
    <%- include('templates/nav'); %>
    <br>
    <div class="container">
        <h1>Gefeliciteerd Laura!!!</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
            <a href="/quiz">
              <div class="jumbotron">
                  <h3>Hoe goed pas jij bij Laura? Doe de quiz!</h3>
              </div>
            </a>
        </div>
        <div class="col">
            <a href="/zoen">
              <div class="jumbotron">
                  <h3>Bekijk Laura's zoen-lijst</h3>
              </div>
            </a>
        </div>
        <div class="col">
            <a href="/messages">
              <div class="jumbotron">
                  <h3>Laat een verjaardagsbericht achter voor Laura!</h3>
              </div>
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <a href="/cijfers">
              <div class="jumbotron">
                  <h3>Bekijk Laura's cijferlijst</h3>
              </div>
            </a>
        </div>
        <div class="col">
            <a href="/bak">
              <div class="jumbotron">
                  <h3>Moet ik een bak trekken?</h3>
              </div>
            </a>
        </div>
      </div>
    </div>
  </body>
</html>
