<!DOCTYPE html>
<html>
  <head>
    <title>Laura's memepage</title>
    <%- include('templates/head'); %>
  </head>
  <body>
    <%- include('templates/nav'); %>
    <br>
    <div class="container">
      <h2>Berichtjes voor Laura</h2>
      <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#memeModal">Upload een meme</button>
      <hr>
      <ul class="list-group">
        <% memes.forEach((meme) => { %>
          <li class="list-group-item"><img src="http://83.128.192.220/data/memes/<%=meme.name%>" alt=""></li>
        <% }); %>
      </ul>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="memeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload een meme (of andere foto)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/memes/upload" enctype="multipart/form-data">
              <input type="file" id="meme_img" name="meme" accept="image/*">
              <input type="submit" class="btn btn-primary" value="Upload"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
