body {
    padding-bottom: 2em;
}
.imgbox {
/*    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}*/

img {
	display: none;
	width: 100%;
	height: auto;
}